.kia-leader {
    height: 216px;
    width: 369px;
    display: inline-block;
    background: #FFF;
    margin-bottom: 4px;
}

.kia-leader-header {
    margin: 5px auto;
}

.kia-leader-details p {
    color: #666;
}

.kia-leader-details {
    padding: 0 3px 0 0;
}

.stat-category p {
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    line-height: 10px;
}

#leader-number h2 {
    color: #860038;
    font-weight: bold;
    text-align: center;
    line-height: 3px;
    margin-top: 0;
}

#kia-leader-pic {
    padding: 0;
    z-index: 0;
}

#leader-name {
    text-align: center;
    font-size: 11px;
    font-variant: small-caps;
    line-height: 10px;
}

#leader-board p {
    font-size: 10px;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    line-height: 10px;
}

.leaderRow1,
.leaderRow3 {
    background: #DDD;
}

.kia-more-stats {
    color: #860038;
    text-align: right;
}

.kia-more-stats a {
    color: #860038;
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
}
